<div>
    <p>@Message</p>

    @if (CancelText is not null)
    {
        <button @onclick="Cancel" class="btn btn-secondary me-2">@CancelText</button>
    }
    @if (NoText is not null)
    {
        <button @onclick="No" class="btn btn-secondary me-2">@NoText</button>
    }
    @if (YesText is not null)
    {
        <button @onclick="Yes" class="btn btn-primary me-2">@YesText</button>
    }
</div>


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public string? Message { get; set; }

    [Parameter] public string? YesText { get; set; }

    [Parameter] public string? NoText { get; set; }

    [Parameter] public string? CancelText { get; set; }

    async Task Yes() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    async Task No() => await BlazoredModal.CloseAsync(ModalResult.Ok(false));
    async Task Cancel() => await BlazoredModal.CancelAsync();
}

